body{
    background-color: black;
}

#main{
    margin-left: 25%;
}

h1{
    text-align: center;
    color: lightslategrey;
    margin-bottom: 0.2rem;
}

#box{
    background-color: white;
    width: 40rem;
    padding: 0.5rem;
}

.labels{
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    font-family:monospace;
    margin-left: 1.3rem;
}

#desc{
    height: 2rem;
    width: 90% ;
    border: none;
    background-color: transparent;
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    padding: 0.3rem;
}


input{
    font-family:Arial, Helvetica, sans-serif;
    color: darkslategray;
}


aside{
    display: inline;
}

form{
    display: inline;
}

#between{
    height: 2rem;
    width: 0;
}

.details{
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-left: 0;
    width: 12rem;
    border: none;
    margin-right: 1rem;
}

button{
    background-color: rgb(76, 88, 88);
    color: white;
    padding: 0.8rem;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
}

#submit{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 16rem;
}

ul{
    list-style: none;
    color: lightslategray;
    padding: 0;
}

ul i{
    margin-left: 1rem;
    margin-right: 0.5rem;
}

#describe{
    font-size: 1.2rem;
}

#date{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

#category{
    margin-left: 1rem;
    border: 1px solid lightslategray;
    background-color: rgb(212, 212, 62);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

